// Google Font
// https://../fonts.google.com/?query=Capriola

.capriola {
  font-family: 'Capriola', sans-serif;
}

// IcoMoon
// https://icomoon.io/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p94bd4');
  src:  url('../fonts/icomoon.eot?p94bd4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p94bd4') format('truetype'),
    url('../fonts/icomoon.woff?p94bd4') format('woff'),
    url('../fonts/icomoon.svg?p94bd4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-wordpress:before {
  content: "\e901";
}

.icon-bars:before {
  content: "\e900";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-github:before {
  content: "\eab0";
}

