html,
body {
  height: 100%;// ファーストビューが崩れるため
}

.heading {
  text-align: center;
  font-size: 4rem;
}

.summary {
  font-size: 1.1rem;
}

// ヘッダー
@import "layouts/firstview";
// アバウト
@import "layouts/aboutview";
// スキル一覧
@import "layouts/skillview";
// 経歴
@import "layouts/expviwe";
// コンタクトフォーム
@import "layouts/contactview";
// フッター
@import "layouts/lastview";

