// spacer
$section-spacer: 6.4rem 0 !default;

// color
$base-color: #f3c0ab !default;
$sub-color: #df81a2 !default;
$sub-color-dark: #d36f92 !default;
$sub-color-highend: #d14c7b !default;

// backgroud images
$bg-img: url("../img/bg.jpg") !default;