// 全体設定
html,
body {
  height: 100%;// ファーストビューが崩れるため
}

// 全体で使用するやつ
.heading {
  font-size: 52px;
}

.writer {
  white-space: pre-line;
}

// ファーストビュー
#first {
  position: relative;
  min-height: 100%;
  background: #261969;
}

.first-nav {
  background: #2c2191;
}

#first-down {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 15px;
  color: #fff;
  font-size: 2rem;
}
// スキル一覧
.skill-heading {
  font-size: 38px;
}

.skills-card {
  padding: 5px 3px 0 3px;
}

.skills-img {
  height: 100px;
  width: 300px;
}

// 経歴
#experience {
  background: #f2f2f5;
  padding: 5px 0;
}

.experience-next {
  font-size: 40px;
  font-weight: 900;
  color: #2c2191;
}

// フッター
#last {
  background: #261969;
}

.last-img {
  width: 10rem;
  height: 10rem;
}

.last-contact {
  margin-bottom: 2px;
  font-size: 1.2rem;
}

.last-icon {
  margin-right: 5px;
}

// footerのフォント
@import "font-icon";